@model IEnumerable<Employee_21Feb2022.Models.MovieModel>

@{
    ViewBag.Title = "GetMoviewDetails";
}

<style>
    table, th, td {
        border: 1px solid;
        text-align: center;
    }

</style>

<h2>GetMoviewDetails</h2>

<div>
    <h4>MovieModel</h4>
    <hr />
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(ModelItem => item.ID)
                <td style=" width: 200px;">@item.Title</td>
                <td style=" width: 200px;">@item.ReleaseDate</td>
                <td style=" width: 200px;">@item.Genre</td>
                <td style=" width: 200px;">@item.Rating</td>
                <td style=" width: 200px;">@item.Price</td>
                <td style=" width: 200px;">
                    @Html.ActionLink("Edit", "ModifyMovie", new { id = item.ID }, new { @class = "btn btn-info btn-xs" })

                </td>
            </tr>
        }
    </table>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "GetMoviewDetails")
</p>
