@model Employee_Feb22_Session2.Models.tblSignUp

@{
    ViewBag.Title = "SignUp";
}

<style>
    td {
        width: 100px;
    }
</style>

<h2>SignUp</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="color:green; display:inline;margin-left: 3px;font-size: large;">
        @TempData["SignUpMessage"]
    </div>

    <table border="2">
        <tr>
            <td>@Html.LabelFor(model => model.UserName)</td>
            <td> @Html.EditorFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password)</td>
            <td> @Html.PasswordFor(model => model.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Name)</td>
            <td> @Html.EditorFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.MobileNo)</td>
            <td> @Html.EditorFor(model => model.MobileNo)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Address)</td>
            <td> @Html.EditorFor(model => model.Address)</td>
        </tr>
        <tr>
            <td> <input type="submit" value="Sign-Up" /></td>
        </tr>
    </table>
}

